<h2>OmniContacts Example</h2>

<a href="/contacts/gmail">Gmail</a>

<a href="/contacts/yahoo">Yahoo</a>

This feature not available. I'll push it, later.<a href="/contacts/hotmail">Hotmail</a> 

<a href="/contacts/facebook">Facebook</a>